.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

.jumbotron img {
    width: 200px;
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .5);
}

.jumbotron h1 {
    font-size: 55px;
}

.jumbotron p {
    font-weight: 500;
}

/* .leftParagraph,
.rightParagraph {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}

.rightParagraph {
    transform: translate(50px, 0) rotate(-15deg);
}

.leftParagraph.paragraphAppears,
.rightParagraph.paragraphAppears {
    opacity: 1;
    transform: translate(0, 0);
} */

.projects {
    background-color: #e2edff;
}

/* .projects .card {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.projects .card.appears {
    opacity: 1;
    transform: translate(0, 0);
} */

section {
    padding-top: 5rem;
}

/* My Keyboard Section */
.keyboard-box {
    position: relative;
    background-color: #0D6EFD;
    border-radius: 10px;
    height: 500px;
    transform-style: preserve-3d;
}

.keyboard-box::before {
    content: 'MY';
    position: absolute;
    color: #fff;
    font-size: 6em;
    font-weight: bold;
    font-style: italic;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: .5s;
}

.keyboard-box:hover::before {
    opacity: .2;
}

.keyboard-box::after {
    content: 'KEYBOARD';
    position: absolute;
    color: #fff;
    font-size: 4.3em;
    font-weight: bold;
    font-style: italic;
    top: 350px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: .5s;
}

.keyboard-box:hover::after {
    opacity: .2;
}

.keyboard-name {
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    transform: translate3d(0, 0, 50px);
    transition: .5s;
}

.keyboard-box:hover .keyboard-name {
    top: 15px;
    opacity: 1;
}

.keyboard-detail-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 100px);
    opacity: 0;
    transition: .5s;
}

.keyboard-box:hover .keyboard-detail-btn {
    opacity: 1;
    bottom: 15px;
}

.keyboard-img {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate3d(-50%, -52%, 80px);
    max-width: 350px;
    transition: .5s;
}

.keyboard-box:hover .keyboard-img {
    transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}

.gallery-img {
    width: 100%;
}

#gallery .row > * {
    padding: 10px;
}